body {
  background: #83a2ffda;
  font-family: "Sarabun", serif;
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  border: 2px solid rgba(0, 0, 0, 0.736);
  background: rgba(255, 255, 255, 0.61);
}
.container {
  max-width: 600px;
  margin: 30px auto;
  background: #6dc99e9e;
  border-radius: 50px;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 5px solid rgba(0, 0, 0, 0.736);
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.city:last-of-type {
  border: none;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

.date {
  opacity: 0.7;
}

footer {
  opacity: 0.7;
  text-align: center;
  font-size: 18px;
}

a {
  color: #1c3328;
}
